html,
body {
  height: 100%;
  margin: 0;
}
.space {
  white-space: pre;
}
.aboutPage {
  height: 100%;
}
.aboutMeHome {
  border-radius: 20px;
}
.aboutFont {
  font-family: sans-serif;
  font-weight: 100;
  opacity: 0.95;
}

/* make background image responsive */
/* https://mdbootstrap.com/snippets/jquery/mdbootstrap/916526#css-tab-view */
.landingPage {
  height: 100%;
  background-image: url(/images/homepage.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* make background image responsive */

h4 {
  color: white;
  text-align: center;
}
h1 {
  text-align: center;
  color: black;
  font-size: 50pt;
}
a {
  color: #8f31a1;
}
a.nav-link:hover {
  background-color: #ffffff;
}
.btn {
  background-color: #8f31a1;
  border: none;
}
h3 {
  display: inline;
}
svg {
  display: inline;
  position: relative;
}
.hidden {
  opacity: 0;
  animation: slide_up 3s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}
/* code for animation from https://codepen.io/shawkdsn/pen/haGzE */
/* changed class names */
.animation1 {
  font-weight: 300;
  animation-delay: 3;
}
.animation2 {
  font-weight: 500;
  animation-delay: 2s;
}
@keyframes slide_up {
  0% {
    opacity: 0;
    transform: translateY(400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
